body {
    font-size: 18px;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-align-items: stretch;
    align-items: stretch;
    -ms-box-orient: horizontal;
    white-space: normal;
    text-wrap: nowrap;
    overflow-y: auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    font-family: Source Sans Pro, Arial, sans-serif;
    margin: 0;
    padding: 0;
    scrollbar-color: #27233A, #F7BF3E;
    scrollbar-width: auto;
    height: 200px;
    width: 100%;
}
body:not(.loaded) #sidebar,
body:not(.loaded) #content {
    display: none;
}
body.loaded #sidebar,
body.loaded #content {
    display: block;
}
main.content {
    width: 80%;
    padding: 20px;
}
#sidebar {
    color: #F7BF3E;
    flex: 0 0 300px;
    scrollbar-gutter: stable both-edges;
    background: #27233A;
    padding: 0px 20px;
    height: 100vh;
    overflow-y: auto;
    font-size: 14px;
}
#sidebar h3 {
    padding-left: 0px;
    padding-right: 10px;
}
#sidebar h3:hover{
    cursor: pointer;
    color: #c94141fb;
}
#sidebar h4, a {
    color: #F7BF3E;
    cursor: pointer;
    padding: 0px;
    position: relative;
    text-decoration: none;
}
.dropdown-icon {
    font-size: 20px;
    rotate: 30deg;
    position: absolute;
    right: 0px;
    top: 0px;
    margin-left: 8px;
    margin-right: 10px;
    transition: transform 0.3s ease;
}
.dropdown-icon.open {
    transform: rotate(-30deg);
}
#sidebar a:hover {
    color: #c94141fb;
}
#sidebar h4:hover{
    color: #c94141fb;
}
.dropdown-content {
    display: none;
}
.open {
    display: block;
}
#sidebar ul {
    list-style-type: none;
    padding: 0px;
}
#sidebar ul li {
    font-weight: bold;
    text-indent: 0px;
    padding: 10px 10px 10px 10px;
}
#content {
    padding: 0px 20px;
    font-size: 12px;
}
::-webkit-scrollbar,
::-webkit-scrollbar-button,
::-webkit-scrollbar-corner,
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
    width: 0.8em;
    border: 2px solid #27233A;
    padding: 2px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
    background-color: #27233A;
}
::-webkit-scrollbar-thumb {
    background: #F7BF3E;
    border-radius: 200vw;
    background-clip: padding-box;
  }
::-webkit-scrollbar-thumb:hover {
    background: #c94141fb;
    transition: transform 0.3s ease;
}
/* Scrollbar buttons */
::-webkit-scrollbar-button{
    padding: 5px 5px;
}
::-webkit-scrollbar-button:single-button {
    background-color: #27233A;
    background-size: 10px;
    background-repeat: no-repeat;
    display: block;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='50,00 0,50 100,50'/></svg>");
    border-radius: 2px;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
    background-color: #c94141fb;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(39 35 58)'><polygon points='50,00 0,50 100,50'/></svg>");
    border-color: transparent transparent #27233A transparent;
}
::-webkit-scrollbar-button:single-button:vertical:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='50,00 0,50 100,50'/></svg>");
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
    height: 12px;
    width: 16px;
    background-position: center 2px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,0 100,0 50,50'/></svg>");
    border-radius: 2px;
}
::-webkit-scrollbar-button:single-button:vertical:increment:hover {
    background-color: #c94141fb;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(39 35 58)'><polygon points='0,0 100,0 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:vertical:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,0 100,0 50,50'/></svg>");
}
/* Left */
::-webkit-scrollbar-button:single-button:horizontal:decrement {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,50 50,100 50,0'/></svg>");
    border-radius: 2px;
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:hover {
    background-color: #c94141fb;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(39 35 58)'><polygon points='0,50 50,100 50,0'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:decrement:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,50 50,100 50,0'/></svg>");
}
/* Right */
::-webkit-scrollbar-button:single-button:horizontal:increment {
    height: 12px;
    width: 12px;
    background-position: 3px 3px;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,0 0,100 50,50'/></svg>");
    border-radius: 2px;
}
::-webkit-scrollbar-button:single-button:horizontal:increment:hover {
    background-color: #c94141fb;
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(39 35 58)'><polygon points='0,0 0,100 50,50'/></svg>");
}
::-webkit-scrollbar-button:single-button:horizontal:increment:active {
    background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(247 191 62)'><polygon points='0,0 0,100 50,50'/></svg>");
}
